/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');




/* #region Task-1 */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 355px;
}
#datetime-picker {
    border-radius: 4px;
    padding: 8px 16px;
    margin-right: 8px;
    border: 1px solid #808080;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    background:#4e75ff;
    border: none;   

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

button:disabled {
    background: #cfcfcf;
    color: #989898;
    cursor: not-allowed;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}


/* #endregion */